Package: com.Alibusut.YouPro
Name: YouPro
Version: 1.3
Architecture: iphoneos-arm64
Maintainer: Alibusut <Alibusut@email.com>
Depends: mobilesubstrate | substitute | ellekit, com.ps.YouTubeHeader, preferenceloader
Description: youpro
