Package: com.Alibusut.YouPro
Name: YouPro
Version: 1.0
Architecture: iphoneos-arm64
Maintainer: Alibusut <Alibusut@email.com>
Depends: mobilesubstrate | substitute | ellekit
Description: YouPro .deb built by mrdrvt99
